#postwrapper {
    margin: 5%;
}
#blogbuilder{
    margin-bottom: 50px;
}
#preview{
    height: 300px;
    overflow-y: auto;
}
#card img {
    height: 260px;
    object-fit: cover;
}
.btn {
    background-color: grey !important;
    color: var(--apptheme) !important;
    border-color: var(--apptheme) !important;
}
#signin {
    margin: auto;
    width: 25%;
    height: 650px;
}