#formwrapper{
    max-width: 800px;
    margin: 5%;
    margin-top: 7%;
}
label{
    margin-top: 15px;
}
small{
    color: var(--apptheme);
}
#submitbutton{
    margin-top: 15px;
    color: #fff;
}
#submitbutton a{
    width: 100%;
}
#emailalert
{
    margin-top: 15px;
}
.btn {
    background-color: grey !important;
    color: var(--apptheme) !important;
    border-color: var(--apptheme) !important;
}
h3 {
    text-align: center;
    color: var(--apptheme);
    font-style: italic;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    #formwrapper{
        max-width: 480px;
        padding-left: 25px;
        padding-right: 55px;
    }
}