img {
    width: 65px;
    margin-right: 5px,
}
mdb-navbar-brand {
    margin-right: 25px,
}
a {
    color: #333!important;
    font-size: 1.2em;
}
.letterhighlight{
    color: #fd8204;
    font-size: 1.5em;
}




