img {
    width: 65px;
    margin-right: 5px,
}
mdb-navbar-brand {
    margin-right: 25px;
    color: #000;
}
a {
    color: var(--apptheme) !important;
    font-size: 1.2em;
}
a:hover {
    color: #000 !important;
}
i {
    color: #000 !important;
}
.letterhighlight{
    color: var(--apptheme);
    font-size: 2em;
}




