#gearwrapper {
    margin: 5%;
    margin-top: 10%;
}
h3 {
    text-align: center;
    color: var(--apptheme);
    font-style: italic;
    margin-top: -50px;
}
li img {
    width: 100px;
    height: 100px;
}