<div id="gearwrapper">
    <h3>My Gear</h3>
    <h4>OTAs & Mounts</h4>
    <ul>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7cc51c795d6807b3698fa65d035adba3/e/v/evo925_right_web.jpg">Celestron 9.25" NexStar Evolution Computerized Telescope</li>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/t/r/travel_scope_70_1.jpg">Celestron Travel Scope 70 mm Portable</li>
    </ul>
    <h4>Telescope Helpers</h4>
    <ul>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/_/m/_mg_9601.jpg">Celestron StarSense Auto Telescope Alignment</li>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/9/4/94155-a_focus_motor_for_sct_and_edgehd_03_570x380_3x.jpg">Celestron Focus Motor</li>
    </ul>
    <h4>Eye Pieces</h4>
    <ul>
        <li>Celestron 1.25" 20mm</li>
        <li>Celestron 1.25" 40mm</li>
        <li>Celestron 1.25" 40mm Plossl Eyepiece</li>
        <li>Celestron 1.25" 13mm Plossl Eyepiece</li>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/b/a/baader_mark_iv_zoom_eyepiece_standing_1.jpg">Baader Hyperion Zoom Mark IV 8-24 mm Click Stop Eyepiece</li>
    </ul>
    <h4>Barrlow Lens</h4>
    <ul>
        <li><img src="https://images-na.ssl-images-amazon.com/images/I/51WRgS3Qi4L._AC_SX679_.jpg">MEOPTEX 1.25" 3X Barlow Lens</li>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/b/a/bad-hyp-barlow-4.jpg">Baader Hyperion 2.25X Zoom Barlow</li>
    </ul>
    <h4>Filters</h4>
    <ul>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/b/a/bad-fcb-1.png">Baader Planetarium 1.25" Contrast Booster Filter</li>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7cc51c795d6807b3698fa65d035adba3/b/a/bad-fnd2-1.jpg">Baader Planetarium 1.25" ND 1.8 Neutral Density Filter</li>
    </ul>
    <h4>Cameras & Computers</h4>
    <ul>
        <li><img src="https://www.highpointscientific.com/pub/media/catalog/product/cache/7dd81aa47688c2f5b60a1205f1684b57/z/w/zwo-asi224mc_2.jpg">ZWO ASI224MC Color Imaging Camera</li>
        <li><img src="https://m.media-amazon.com/images/I/71oTy+incwL._AC_SX679_.jpg">Google Pixel 4 XL</li>
        <li><img src="https://images-na.ssl-images-amazon.com/images/I/71kBlSKi3eL._AC_SX466_.jpg">Microsoft Surface Pro 4 i7</li>
    </ul>
    <h4>Software</h4>
    <ul>
        <li>ZWO ASI Studio</li>
        <li>AutoStakkert!</li>
        <li>Registax</li>
        <li>Sky Portal mobile App</li>
    </ul>
</div>