#galleryWrapper {
    margin: 1%;
    margin-top: 5%;
}
#imageslider img{
    height: 650px;
}
img {
    height: 260px;
}
h3 {
    text-align: center;
    color: var(--apptheme);
    font-style: italic;
    margin-top: -50px;
}