/* You can add global styles to this file, and also import other style files */
.ngx-pagination .current {
    background-color: grey !important;
}
blockquote {
    font: 14px/20px italic Times, serif !important;
    padding-left: 70px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    padding-right: 10px !important;
    background-color: #ccc !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    margin: 5px !important;
    background-image: url('assets/openquote4.gif') !important;
    background-position: middle left !important;
    background-repeat: no-repeat !important;
    text-indent: 23px !important;
}
#blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 8px;
}