/* You can add global styles to this file, and also import other style files */
:root{
    --apptheme: #73C2FB;
    --bannertheme: rgba(115,194,251,.75);
}
.ngx-pagination .current {
    background-color: grey !important;
}
blockquote {
    font: 14px/20px italic Times, serif !important;
    padding-left: 70px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    padding-right: 10px !important;
    background-color: #ccc !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    margin: 5px !important;
    background-image: url('assets/openquote4.gif') !important;
    background-position: middle left !important;
    background-repeat: no-repeat !important;
    text-indent: 23px !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
#blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 8px;
}

@media (max-width: 480px) { 
    blockquote {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}
