#blogWrapper {
    margin: 5%;
}
#photoblog img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 25px !important;
    border-radius: 8px !important;
}

h3 {
    text-align: center;
}
#blog {
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width: 540px) { 
    #photoblog img{
        margin-top: 50px !important;
        height: 260px !important;
        object-fit: cover !important;
    }
}

@media (max-width: 375px) { 
    #photoblog img{
        margin-top: 50px !important;
        height: 260px !important;
        object-fit: cover !important;
    }
}